[Unit]
Description=Mirror OS Flatpak Reconciler
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/mirror-os/mirror-flatpak-install
StandardOutput=journal
StandardError=journal
TimeoutStartSec=1800
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
