[Unit]
Description=Mirror OS hourly state sync
After=mirror-os-init.service

[Timer]
OnBootSec=30s
OnCalendar=*:00:00
Persistent=true

[Install]
WantedBy=timers.target
