name: Build Mirror OS

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Build Mirror OS image
        uses: blue-build/github-action@v1
        with:
          recipe: mirror-os.yml
          cosign_private_key: ${{ secrets.COSIGN_PRIVATE_KEY }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
